---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ProjectsCarousel from '../components/ProjectsCarousel.astro';
import ServicesBento from "../components/ServicesBento.astro";
import Info from "../components/Info.astro";
import Process from "../components/Process.astro";
import TellMe from "../components/TellMe.astro";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Youssef Benkdane - Portfolio">
	<main>
		<Hero />
		<ProjectsCarousel />
		<ServicesBento />
		<Info />
		<Process />
		<TellMe />
	</main>
</Layout>
